<div id="main">
  <div id="left-bar">
    <div id ="logo">
      <li>
      <%= image_tag("logo.png")%>
      </li>
    </div>
    <div id ="menu">
      <ul>
        <li><a id="menu-reel" href="#">REEL 2013</a></li>
        <li><a href="#">CONTACTO</a></li>
        <li><a href="#">QUIÉNES SOMOS</a></li>
      </ul>
    </div>
    <div id ="social-bar"></div>
    <div id ="definition">
    </div>
    <div id ="description">
      <p>
        Tenemos coraje para innovar y 
        crear producciones audiovisuales
        con gran calidad estética,
        pero sabiendo que si no se 
        llenan con contenido, los mensajes pasan
        inadvertidos.
      </p>
    </div>
    <div id ="footer-logo">
      <p>&#169;2014 BERRINCHE</p>
    </div>
  </div>
  <div id="right-section">
    <div id="header">
      <li><a href="#">DOCUMENTALES</a></li>
      <li><a href="#">PUBLICIDAD</a></li>
      
      <li><a href="#">CORPORATIVOS</a></li>
      <li><a href="#">TELEVISIÓN</a></li>
    </div>
    <div id="video-mosaic">
      <div id="first-row">
        <div class="video-box">
          <a rel='shadowbox' href="http://player.vimeo.com/video/82628744?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1 width='560' height='315' frameborder='0' webkitAll	owFullScreen mozallowfullscreen allowFullScreen"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a rel='shadowbox' href="http://vimeo.com/85526480"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="http://vimeo.com/85448139"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="http://vimeo.com/82631197"><%= image_tag("test.jpg")%></a>
        </div>
      </div>
      <div id="second-row">
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
      </div>
      <div id="third-row">
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
        <div class="video-box">
          <a href="#"><%= image_tag("test.jpg")%></a>
        </div>
      </div>
    </div>
    <div id="footer">
      
    </div>
  </div>
</div>