<div style="display: none;"><%= image_tag("fancybox_overlay.png")%></div>
<div id="fb-root"></div>
<div id="main">
  <div id="left-bar">
    <a>
      <div id ="logo">
        <li>
        <%= image_tag("logo.png")%>
        </li>
      </div>
    </a>
    <div id ="menu">
      <ul>
        <li><a rel='shadowbox' href="http://player.vimeo.com/video/90256241?autoplay=1" id="menu-reel" href="#">REEL 2013</a></li>
        <li><a id="contact-link" href="#contact-modal" class="fancybox">CONTACTO</a></li>
        <div style="display: none">
            <div id="contact-modal">
              <div class="modal-logo">
                <%= image_tag("logo.png")%>
              </div>
              <div id="contact-modal-form">
                <%= form_tag('/contact', remote: true) do %>
                  <div><%= text_field_tag 'name',"", placeholder: "Nombre" %></div>
                  <div><%= text_field_tag 'email',"", placeholder: "Email" %></div>
                  <div><%= text_field_tag 'subject',"", placeholder: "Asunto" %></div>
                  <div><%= text_area_tag 'body',"", placeholder: "Mensaje", rows: 10, cols: 25 %></div>
                  <div><%= submit_tag 'Enviar' %></div>
                <% end %>
              </div>
              <div id="contact-modal-likebox">
                <div class="fb-like-box" data-href="https://www.facebook.com/berrinche" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
              </div>
            </div>
        </div>
        <li><a id="what-we-do-link" href="#what-we-do-modal" class="fancybox">¿QUÉ HACEMOS?</a></li>
        <div style="display: none">
            <div id="what-we-do-modal">
              <div class="modal-logo">
                <%= image_tag("logo.png")%>
              </div>
              <p>
                Ofrecemos soluciones audiovisuales a las empresas mediante videos institucionales, fotografía, publicidad y animación en 3D.
              </p></br>
              <p>
                Registramos eventos corporativos, capacitaciones y cualquier tipo de actividad empresarial.
              </p></br>
              <p>
                Documental y ficción
              </p></br>
              <p>
                A través de televisión, internet y cine transmitimos nuestro mensaje que se compone de cine documental, cortometrajes y programas de TV.
              </p></br>
            </div>
        </div>
      </ul>
    </div>
    <div id="social-bar">
      <div class="social-icon"><a target="_blank" href="http://www.facebook.com/Berrinche"><%= image_tag("facebook.png")%></a></div>
      <div class="social-icon"><a target="_blank" href="http://twitter.com/_berrinche"><%= image_tag("twitter.png")%></a></div>
      <div class="social-icon"><a target="_blank" href="http://instagram.com/_berrinche"><%= image_tag("instagram.png")%></a></div>
      <div class="social-icon"><a target="_blank" href="http://vimeo.com/berrincheproducciones"><%= image_tag("vimeo.png")%></a></div>
    </div>
    <div id ="description">
      <p>
        Tenemos coraje para innovar y 
        crear producciones audiovisuales
        con gran calidad estética,
        pero sabiendo que si no se 
        llenan con contenido, los mensajes pasan
        inadvertidos.
      </p>
    </div>
    <div id ="footer-logo">
      <p>&#169; BERRINCHE.CL</p>
      <p id="tcit-add">Desarrollado por <a target="_blank" href="http://www.tcit.cl">TCIT</a></p>
    </div>
  </div>
  <div id="right-section">
    <div id="header">
      <li><a id="link-documentales">DOCUMENTALES</a></li>
      <li><a id="link-publicidad">PUBLICIDAD</a></li>
      <li class="hidden"><a>----------</a></li>
      <li id="header-isologo"><div><%= image_tag("isologo.png", id: "link-self-production")%></div></li>
      <li><a id="link-corporativos">CORPORATIVOS</a></li>
      <li><a id="link-television">TELEVISIÓN</a></li>
    </div>
    <div id="video-mosaic">
      <div id="big-row">
        <div class="square">
          <div class="square-video-box self-production">
            <a rel='shadowbox' href="http://player.vimeo.com/video/90256241?autoplay=1">
              <div class="video-overlay">
                <span>REEL 2013</span>
              </div>
            </a>
            <a rel='shadowbox' href="http://player.vimeo.com/video/90256241?autoplay=1"><%= image_tag("reel.jpg", class: "active" )%></a>
          </div>
        </div>
        <div class="square">
          <div id="first-row">
            <div class="video-box corporativos">
              <a rel='shadowbox' href="http://player.vimeo.com/video/90249329?autoplay=1">
                <div class="video-overlay">
                  <span>ANIMACIÓN FUNDACIÓN CHILE</span>
                </div>
              </a>
              <a rel='shadowbox' href="http://player.vimeo.com/video/90249329?autoplay=1"><%= image_tag("fundacion.jpg", class: "active")%></a>
            </div>
            <div class="video-box self-production">
              <a rel='shadowbox' href="http://player.vimeo.com/video/85526480?autoplay=1">
                <div class="video-overlay">
                  <span>EXPERIENCIAS</span>
                </div>
              </a>
              <a rel='shadowbox' href="http://player.vimeo.com/video/85526480?autoplay=1"><%= image_tag("autos.jpg", class: "active")%></a>
            </div>
          </div>
          <div id="second-row">
            <div class="video-box television">
              <a rel='shadowbox' href="http://player.vimeo.com/video/85448139?autoplay=1">
                <div class="video-overlay">
                  <span>INTRO OST 2014</span>
                </div>
              </a>
              <a rel='shadowbox' href="http://player.vimeo.com/video/85448139?autoplay=1"><%= image_tag("ost.jpg", class: "active")%></a>
            </div>
            <div class="video-box publicidad">
              <a rel='shadowbox' href="http://player.vimeo.com/video/86044654?autoplay=1">
                <div class="video-overlay">
                  <span>SPOT CARPENTER</span>
                </div>
              </a>
              <a rel='shadowbox' href="http://player.vimeo.com/video/86044654?autoplay=1"><%= image_tag("carpenter.jpg", class: "active")%></a>
            </div>
          </div>
        </div>
      </div>
      <div id="third-row">
        <div class="video-box publicidad">
          <a rel='shadowbox' href="http://player.vimeo.com/video/82631194?autoplay=1">
            <div class="video-overlay">
              <span>GREAT WALL Y HOTEL SURAZO</span>
            </div>
          </a>
          <a rel='shadowbox' href="http://player.vimeo.com/video/82631194?autoplay=1"><%= image_tag("greatwall.jpg", class: "active")%></a>
        </div>
        <div class="video-box documentales">
          <a rel='shadowbox' href="http://player.vimeo.com/video/86036270?autoplay=1">
            <div class="video-overlay">
              <span>RECONSTRUIR NO ES LEVANTAR</span>
            </div>
          </a>
          <a rel='shadowbox' href="http://player.vimeo.com/video/86036270?autoplay=1"><%= image_tag("reconstruir.jpg", class: "active")%></a>
        </div>
        <div class="video-box publicidad">
          <a rel='shadowbox' href="http://player.vimeo.com/video/90245621?autoplay=1">
            <div class="video-overlay">
              <span>SPOT TEATRO MORI</span>
            </div>
          </a>
          <a rel='shadowbox' href="http://player.vimeo.com/video/90245621?autoplay=1"><%= image_tag("mori.jpg", class: "active")%></a>
        </div>
        <div class="video-box documentales">
          <a rel='shadowbox' href="http://player.vimeo.com/video/82631190?autoplay=1">
            <div class="video-overlay">
              <span>RODEO, DEPORTE NACIONAL?</span>
            </div>
          </a>
          <a rel='shadowbox' href="http://player.vimeo.com/video/82631190?autoplay=1"><%= image_tag("rodeo.jpg", class: "active")%></a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="footer-left-arrow">&lang;</div>
      <div id="sponsors-carousel">
        <div><a target="_blank" href="http://www.13.cl/c"><%= image_tag("ausp-c13.png") %></a></div>
        <div><a target="_blank" href="http://www.carpenter.cl/"><%= image_tag("ausp-carpenter.png") %></a></div>
        <div><a target="_blank" href="http://www.greatwallmotors.cl/"><%= image_tag("ausp-greatwall.png") %></a></div>
        <div><%= image_tag("ausp-innovation.png") %></div>
        <div><a target="_blank" href="http://www.centromori.cl/"><%= image_tag("ausp-mori.png") %></a></div>
        <div><a target="_blank" href="http://www.nexos.cl/"><%= image_tag("ausp-nexos.png") %></a></div>
        <div><a target="_blank" href="http://tricao.cl/"><%= image_tag("ausp-tricao.png") %></a></div>
        <div><a target="_blank" href="http://www.udd.cl/"><%= image_tag("ausp-udd.png") %></a></div>
        <div><a target="_blank" href="http://chilesiempre.cl/"><%= image_tag("ausp-chile.png") %></a></div>
        <div><a target="_blank" href="http://www.siempreporlavida.cl/"><%= image_tag("ausp-siempre.png") %></a></div>
      </div>
      <div id="footer-right-arrow">&rang;</div>
    </div>
  </div>
</div>